html {
  height: 100%;
}

main {
  max-width: 800px;
  margin: 3rem auto;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  height: 8rem;
}

button {
  cursor: pointer;
  padding: .5rem 1rem;
}

section + section {
  margin-top: 2rem;
}

collabsible-content > * {
  margin-top: 1rem;
}

collabsible-content + * {
  margin-top: 1rem;
}

collabsible-content[open] + *::after {
  content: "You can react to open state with CSS selector";
  opacity: .4;
}
